<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div id="result">
        <app-questions [question]="question" [introtext]="introtext"></app-questions>
      </div>

      <div id="terminal" class="{{ effect1 }}" >
        <app-terminal (notify)="processChildInput($event)" (notify2)="clearErrorMessages()" [messages]="errormessages"></app-terminal>
      </div>
    </div>

    <div class="col-md-4">
      <div id="leaderboard" class="{{ effect2 }}">
        <app-score [time]="timetogo" [score]="score"></app-score>
      </div>
    </div>

  </div>

</div>
