<div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h1 class="title">🏆 Leaderboard</h1>
        <div id="table-container">
        <table class="table">
          <thead>
          <th>Rank</th>
          <th>Player</th>
          <th>Score</th>
          </thead>
          <tbody>
          <tr *ngFor="let v of scores | async;let i = index" [class.selected]="v.user==username">
            <td>{{i+1}}</td>
            <td>{{v.user}}
            <img *ngIf="v.score===100" src="/assets/img/badge.png" class="master-badge">
            </td>
            <td>{{v.score}}</td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
      <div class="col-md-4">
        <div id="start">
          <img src="/assets/img/logo.png"  id="logo"/>
          <div class="text-center">
            <div *ngIf="score < 100">
              <p class="normal">Your MasterGeek level is <span>{{score}}%</span></p>
            </div>
            <div *ngIf="score >= 100">
              <p class="master">You are a MasterGeek!</p>
            </div>
            <br/>
            <div class="btn btn-danger" (click)="startAgain()">Play Again</div>
            <div class="btn btn-info" (click)="voteUs()" style="margin-left: 8px;">Vote Us</div>
          </div>

          <br/>

          <div class="text-center">
            <div class="tb" (click)="tweetNow()"></div>
          </div>
        </div>
      </div>


    </div>

  </div>
