#start{
  width: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  position: absolute;
}

.col-md-12{
  height: 100vh;
}

#logo{
  width: 300px;
  margin: 20px auto;
  display: block;
}

.title{
  text-align: center;
  text-transform: uppercase;
  color: #ccc;
}


#enter{
  color: #ccc;
}

.error{
  color: #cccccc;
}

.container-fluid{
  padding-top: 20px;
}


table *{
  color:#fff
}

#table-container{
  padding: 20px;
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: scroll;
}

.master-badge{
  width: 23px;
}

tr.selected {
  background-color: #222222;
}

.tb {
  background-image: url('/assets/img/tweet.png');
  width: 80px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
}