<div id="angula-result-logo">
  <img src="/assets/img/geeklogo.png" id="original"
       [ngStyle]="{'-webkit-filter': 'grayscale('+finalScore+'%)'}"/>
  <!--<div id="logo-bg" [ngStyle]="{'background-image': 'url(/assets/img/angular-logo.png)'}">-->

  <!--</div>-->
  <p [ngStyle] ="{'width':'70%','text-align':'center','margin':'0 auto'}">
    <ngb-progressbar type="danger" [value]="(100-finalScore)" [striped]="false" [showValue]=""></ngb-progressbar></p>
</div>

<div id="score">
  <h2 id="user">{{user}}</h2>
  <h3 id="current-time">{{mins}}:{{secs}}</h3>
  <h2 id="current-score">Score : {{score}} | MasterGeek : {{(100-finalScore).toFixed(1)}}%</h2>
</div>

<br/>

<div class="text-center">
  <div class="btn btn-danger" (click)="exitGame()">Exit Game</div>
  <div style="margin-left: 8px;" class="btn btn-info" (click)="voteUs()">Vote us</div>
</div>
