<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="start">
        <img src="/assets/img/logo.png"  id="logo"/>
        <div>
        <input id="username" placeholder="Enter your username" (keydown.enter)="startGame($event)" [(ngModel)]="username" autofocus autocomplete="off" spellcheck="false"/>
          <!--<fa name="arrow-circle-right" id="enter"></fa>-->

          <p class="error text-center" >{{error}}</p>

          <br/>
          <div class="text-center">
            <div class="btn btn-danger" (click)="startGame($event)">Start Game</div>
            <div style="margin-left: 8px;" class="btn btn-info" (click)="voteUs()">Vote us</div>
          </div>  
        </div>
      </div>
    </div>


  </div>

</div>
