<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="start">
        <img src="/assets/img/angular-logo.png"  id="logo"/>
        <h1 id="title">Angula</h1>

        <div>
        <input id="username" placeholder="Enter your username" (keydown)="startGame($event)" [(ngModel)]="username"/>
          <!--<fa name="arrow-circle-right" id="enter"></fa>-->

          <p class="error text-center" >{{error}}</p>
        </div>
      </div>
    </div>


  </div>

</div>
