.text {
    font-size: 28px;
    padding: 15vh 0px 0px 14px;
    text-align: center;
}

.score {
    text-align: center;
}

.score span {
    font-size: 18px;
    font-style: italic;
    color: red;
}